<div class="container">
    <h1>
        title: {{title}}
    </h1>
    <input type="text" [(ngModel)]="title">
</div>


<div class="container">
    <h1>
        show content
    </h1>

    <a href="https://angular.io/guide/cheatsheet">po więcej kliknij</a>
    <input type="checkbox" [(ngModel)]="showContent">
</div>

<div [hidden]="!showContent">
    <div *ngFor="let welcome of welcomeList">
        {{welcome}}
    </div>
</div>

<br>

<div *ngIf="showContent">
    <div *ngFor="let welcome of welcomeList">
        {{welcome}}
    </div>
</div>

